<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ro.citynow"
          android:versionCode="1012001"
          android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>
    <application android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar"
                 android:icon="@drawable/button_logo_normal">
        <activity
                android:name="CityNow"
                android:label="@string/app_name"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SubcatList"/>
        <activity android:name=".UserList"/>
        <activity android:name=".UserDetails"/>
    </application>
</manifest> 
